@font-face {
               font-family: "agentred";
               src: url(agentred.ttf);
           }
#barranav
           {
               background: #agentred;
               font-family: "agentred";
           }


           a:link {
  text-decoration:none;
  color:#D82D46;
  }
  
a:hover {
  text-decoration:none;
  color:#DED843;
  }

a:visited {
  text-decoration:none;
  color:#D82D46;
  }
  
a:active {
  text-decoration:none;
  color:#DED843;
  }

.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    
}