body {
	background-color: #FFF;
}
 
.container h1 {
	font-family: "Lobster", cursive;
	color: #000;
	font-size: 4em;
	text-shadow: 3px 3px 0px #BDBDBD;
}
 
div#form-login {
	max-width: 700px;
	padding-top: 50px;
	margin: auto;
	text-align: center;
}
 
form {
	background-color: rgba(252, 252, 252, 0.9);
	border-radius: 10px;
	box-shadow: 0px 0px 5px #424242;
}
 
h5.login-title {
	padding: 20px;
	font-family: "Lobster", cursive;
	font-weight: 400;
	color: #fff;
	font-size: 50px;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
 
.cyan {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
 
/* INPUT FIELDS */
/* label color */
.input-field label {
 color: #000;
 font-family: "Lato", sans-serif;
 font-weight: 300;
 font-size: 1.2em;
}


 
.btn {
	background-color: #ff1744;
	text-transform: none;
	width: 30%;
	text-align: center;
}
 
.btn:hover {
	background-color: #ff1744;
}